.ipynb_checkpoints/
*.ipynb-meta

.DS_Store

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

### IntelliJ IDEA ###
.idea/
.iml
.xml
ML/__pycache__/models.cpython-39.pyc
