.App {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
}

.map {
  border-top: solid 1px orangered;
  height: calc(100vh - 79px);
  width: 100%;
  min-width: 1001px;
  /* min-width: 100vw; */
}

.mobile-map {
  height: calc(100vh - 53px);
  height: calc(100dvh - 53px);
  width: 100%;
}

input:focus {
  outline: none;
  box-shadow: none;
}

button:focus {
  outline: none; /* Remove the default focus outline */
  box-shadow: none; /* Example: Add an orange box shadow */
}
.content::-webkit-scrollbar {
  display: none;
}

.content {
  overflow: visible;
}
